{% extends "layout.html" %}

{% block title %}Pobieranie zastępstw{% endblock %}

{% block content %}
	<h3>Pobieranie zastępstw</h3>
	<form method="post" style="margin-top: 20px;">
		<div class="switch">
			<label>
				Wyłączone
				<input type="checkbox" {% if enabled %}checked{% endif %} name="enabled">
				<span class="lever"></span>
				Włączone
			</label>
		</div>
		<br>
		<div class="input-field">
			<input id="interval" type="number" name="interval" value="{{ interval }}">
			<label for="interval">Interwał (w minutach)</label>
		</div>
		<button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">check</i>Zastosuj</button>
	</form>
{% endblock %}