{% extends "layout.html" %}

{% block title %}Źródła danych{% endblock %}

{% block content %}
	<h3>Źródła danych</h3>
	<form method="post" style="margin-top: 40px;">
		<div class="input-field">
			<input id="subs-url" type="text" name="substitutions_url" value="{{ substitutions_url }}">
			<label for="subs-url">Adres URL zastępstw</label>
		</div>
		<div class="input-field">
			<input id="dates-url" type="text" name="dates_url" value="{{ dates_url }}">
			<label for="dates-url">Adres URL dat</label>
		</div>
		<div class="input-field">
			<input id="meta-url" type="text" name="metadata_url" value="{{ metadata_url }}">
			<label for="meta-url">Adres URL metadanych</label>
		</div>
		<div class="chips grades"></div>
		<input type="hidden" name="grades" id="grades" value="{{ grades.join(",") }}">
		<div class="chips hours"></div>
		<input type="hidden" name="hours" id="hours" value="{{ hours.join(",") }}">
		<button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">check</i>Zastosuj</button>
	</form>

	<script>
		document.addEventListener("DOMContentLoaded", () => {
			let elems = document.querySelectorAll('.grades');
    		instances = M.Chips.init(elems, {
				placeholder: "Klasy",
				secondaryPlaceholder: "\0",
				data: [
					{% for grade in grades %}
						{
							tag: "{{ grade }}"
						},
					{% endfor %}
				],
				onChipAdd: () => {
					let grades = document.querySelector("#grades");
					grades.value = M.Chips.getInstance(document.querySelector(".grades")).getData().map(chip => chip.tag).join(",");
				},
				onChipDelete: () => {
					let grades = document.querySelector("#grades");
					grades.value = M.Chips.getInstance(document.querySelector(".grades")).getData().map(chip => chip.tag).join(",");
				}
			});

			elems = document.querySelectorAll('.hours');
    		instances = M.Chips.init(elems, {
				placeholder: "Godziny",
				secondaryPlaceholder: "\0",
				data: [
					{% for hour in hours %}
						{
							tag: "{{ hour }}"
						},
					{% endfor %}
				],
				onChipAdd: () => {
					let hours = document.querySelector("#hours");
					hours.value = M.Chips.getInstance(document.querySelector(".hours")).getData().map(chip => chip.tag).join(",");
				},
				onChipDelete: () => {
					let hours = document.querySelector("#hours");
					hours.value = M.Chips.getInstance(document.querySelector(".hours")).getData().map(chip => chip.tag).join(",");
				}
			});
		});
	</script>
{% endblock %}