{% extends "layout.html" %}

{% block title %}Statystyki{% endblock %}

{% block content %}
	<h3>Statystyki</h3>
	<h5>Użytkownicy</h5>
	<table class="highlight">
		<thead>
		<tr>
			<th>Klasa</th>
			<th>Liczba użytkowników</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>1a</td>
			<td>2</td>
		</tr>
		<tr>
			<td>1b</td>
			<td>1</td>
		</tr>
		<tr>
			<td>1c</td>
			<td>37</td>
		</tr>
		<tr>
			<td>Wszystkie</td>
			<td>40</td>
		</tr>
		</tbody>
	</table>
	<h5>Wiadomości</h5>
	<p>Odebrane: 100</p>
	<p>Wysłane: 100</p>
{% endblock %}