{% extends "layout.html" %}

{% block title %}Statystyki{% endblock %}

{% block content %}
	<h3>Statystyki</h3>
	<h5>Użytkownicy</h5>
	<table class="highlight">
		<thead>
			<tr>
				<th>Klasa</th>
				<th>Liczba użytkowników</th>
			</tr>
		</thead>
		<tbody>
			{% for grade in grades %}
				<tr>
					<td>{{ grade }}</td>
					<td>{{ users_count[grade] }}</td>
				</tr>
			{% endfor %}
			<tr>
				<td>Wszystkie</td>
				<td>{{ users_count["all"] }}</td>
			</tr>
		</tbody>
	</table>
	<h5>Wiadomości</h5>
	<p>Odebrane: {{ received_messages }}</p>
	<p>Wysłane: {{ sent_messages }}</p>
{% endblock %}