{% extends "layout.html" %}

{% block title %}Użytkownicy{% endblock %}

{% block content %}
	<h3>Lista użytkowników</h3>
	<table class="highlight">
		<thead>
			<tr>
				<th>ID użytkownika</th>
				<th>Klasa</th>
				<th>Akcje</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.grade }}</td>
					<td>
						<form action="delete_user">
							<input type="hidden" name="id" value="{{ user.id }}">
							<button type="submit" class="waves-effect waves-light btn red"><i class="material-icons left">delete</i>Usuń</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
  </table>
{% endblock %}
			
		