<!DOCTYPE html>
<html lang="pl" style="width: 100%; height: 100%;">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:600,400" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
	<title>Chrobry Zastępstwa</title>
	<style>
		html {
			font-family: 'Montserrat', sans-serif;
		}
	</style>
</head>
<body style="width: 100%; height: 100%; margin: 0;">
	<div style="background-image: url('{{ url_for('static', filename='building.jpg') }}'); background-repeat: no-repeat; background-size: cover; position: absolute; top: 0; bottom: 0; left: 0; right: 0; object-fit: cover; opacity: 0.25; z-index: -1;"></div>
	<div style="display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; gap: 1rem;">
		<img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="border-radius: 100%; width: 10vw; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
		<div style="background-color: white; border-radius: 1rem; padding-left: 1.25rem; padding-right: 1.25rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
			<h1 style="font-weight: 600;">Chrobry Zastępstwa</h1>
			<h2 style="font-weight: 400;">Bot przypominający o zastępstwach w I LO w Piotrkowie Trybunalskim</h2>
		</div>
	</div>
	<div style="display: flex; position: absolute; gap: .5rem; bottom: 3rem; left: 0; right: 0; margin-left: auto; margin-right: auto; align-items: center; justify-content: center;">
		<a href="https://github.com/bartoszstepien01/Chrobry-Zast-pstwa" style="background-color: white; border-radius: .5rem; padding: .5rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">GitHub</a>
		<a href="/dashboard" style="background-color: white; border-radius: .5rem; padding: .5rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">Dashboard</a>
	</div>
</body>
</html>